.sectionOne{
width: 983px;
height: 1024px;
margin-left: 130px;
border-radius: 40px 0px 0px 40px;
opacity: 0px;
border:1px solid blue;
background-color: #f0f0f0;
font-family: sans-serif;

}

#btn1 {
    background-color: orange;
    padding:5px 16px;
    border:none;
    border-radius: 10px;
    font-size: 15px;
    color:white;
}
.navbar {
 
   padding:10px;
   display: flex;
   gap:20px;
 

}


.navbar__desc a {
text-decoration: none;
display: flex;
align-items: center;
color: #A0A8B1;
font-size: 17px;

}

.navbar__desc li {
    list-style: none;
    display: flex;
}

.navbar__desc {
    display:flex;
}

.navbar__desc ul {
    display: flex;
    gap:20px;
}
